/* font-family: "LeagueGothicRegular"; */
@font-face {
    font-family: "LeagueGothicRegular";
    src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
    src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"),
    url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSansLight/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/OpenSansLight/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/OpenSansBold/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSansBold/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}